nav {
  width: 100%;
  background: #2d2727;
}

nav .navbar {
  padding: 2px 55px;
  box-sizing: border-box;
  vertical-align: middle;
}

nav .navbar .logo img {
  width: 150px;
}

nav .navbar .logo {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

nav .navbar .search {
  width: 80%;
  display: inline-block;
  text-align: center;
}

nav .navbar .search input[type="text"] {
  padding: 10px;
  width: 40%;
  font-size: 17px;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 2px;
  color: #b3b3b3;
  border: none;
}

nav .navbar .search input[type="text"]::placeholder {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b3b3b3;
}

nav .navbar .search .aSearch {
  position: relative;
  left: -50px;
  top: 14px;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  nav .navbar .search {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  nav .navbar {
    padding: 2px 10px;
  }

  nav .navbar .search {
    width: 55%;
  }

  nav .navbar .search input[type="text"] {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  nav .navbar .search .aSearch {
    position: relative;
    left: -35px;
  }

  nav .navbar .search {
    width: 47%;
  }
  nav .navbar .search {
    width: 50%;
  }

  nav .navbar .search input[type="text"] {
    width: 58%;
  }
}
