.content {
  display: table;
}

.container_card {
  background-color: #f4f4f4;
  display: table-cell;
  width: 75%;
}

.container_favorite {
  background-color: #ebebeb;
  display: table-cell;
  width: 25%;
}

@media screen and (max-width: 768px) {
  .container_character {
    width: 100%;
    display: block;
  }

  .content {
    display: block;
  }

  .container_card {
    display: block;
    width: 100%;
  }

  .container_favorite {
    display: block;
    width: 100%;
  }
}
