.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.modal .modal-dialog {
  background: #fff;
  position: relative;
  margin: 17vh auto;
  box-shadow: 1px 1px 20px 10px rgb(0 0 0 / 10%);
  height: 65vh;
  width: 50%;
}

.modal .modal-close {
  width: 100%;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
}

.modal .modal-body .modal-body-img,
.modal .modal-body .modal-body-text {
  display: inline-block;
}

.modal .modal-body .modal-body-img {
  text-align: center;
  width: 36%;
}

.modal .modal-body .modal-body-text {
  vertical-align: top;
  text-align: left;
  vertical-align: top;
  padding: 0px 20px 0px 15px;
  box-sizing: border-box;
  width: 64%;
}

.modal .modal-body .modal-body-text h2 {
  margin-top: 0px;
  letter-spacing: 1px;
  font-weight: 700;
}

.modal .modal-body .modal-body-text p {
  line-height: 25px;
  font-size: 17px;
  font-weight: 100;
  color: #857f80;
  letter-spacing: 1px;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.modal-footer a {
  padding: 20px;
  width: 50%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.modal-footer a.btn-add {
  background-color: #322827;
}

.default {
  background-color: #f0f0f0 !important;
  color: #4b4140 !important;
}

.modal-footer a.btn-buy {
  background-color: #d9d9d9;
}

.modal-footer a.btn-add,
.modal-footer a.btn-buy {
  text-decoration: none;
  color: #ee1d23;
  font-weight: 900;
  letter-spacing: 1px;
}

.modal-footer a.btn-add img,
.modal-footer a.btn-add span,
.modal-footer a.btn-buy img,
.modal-footer a.btn-buy span {
  vertical-align: middle;
}

.modal-footer a.btn-add span,
.modal-footer a.btn-buy span {
  padding-left: 10px;
}

.modal {
  display: none;
}

.show {
  display: block;
}

.btn {
  color: #fff;
  background-color: #ec1f23;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  color: #ec1f23;
  background-color: #fff;
  border: 1px solid #ec1f23;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .modal .modal-dialog {
    margin: 20vh auto;
    height: 60vh;
    width: 69%;
  }
}

@media screen and (max-width: 768px) {
  .modal .modal-dialog {
    margin: 20vh auto;
    height: 60vh;
    width: 89%;
  }
}

@media screen and (max-width: 425px) {
  .modal .modal-dialog {
    margin: 4vh auto;
    height: 92vh;
    width: 89%;
  }

  .modal .modal-body .modal-body-img {
    text-align: center;
    width: 100%;
  }

  .modal .modal-body .modal-body-text {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .modal-footer a.btn-add img,
  .modal-footer a.btn-buy img {
    display: none;
  }
}
