<div class="modal" [ngClass]="{'show': modal, 'hide': !modal}">
  <div class="modal-dialog">
    <div class="modal-header">
      <div class="modal-close">
        <img src="assets/images/btn-close.png" alt="" (click)="close()">
      </div>
    </div>
    <div class="modal-body">
      <div class="modal-body-img">
        <img src="{{ image }}" alt="foro">
      </div>
      <div class="modal-body-text">
        <h2>{{ isComic ? record?.title : record?.name }}</h2>
        <p>{{ record?.description || 'Without description' }}</p>
        <a [routerLink]="['/comics/:id']" *ngIf="!isComic">
          View all comics
          <img src="assets/images/link-arrow.png" alt="link_arrow">
        </a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="" class="btn-add" *ngIf="isComic">
        <img src="assets/images/btn-favourites-primary.png" alt="favorites">
        <span>ADDED TO FAVORITES</span>
      </a>
      <a [routerLink]="" class="btn-add default" *ngIf="!isComic" (click)="noAdd()">
        <img src="assets/images/btn-favourites-default.png" alt="favorites">
        <span>ADDED TO FAVORITES</span>
      </a>
      <a [routerLink]="" class="btn-buy" (click)="noAvailable()">
        <img src="assets/images/shopping-cart-primary.png" alt="buy">
        <span>BUY FOR $3.99</span>
      </a>
    </div>
  </div>
</div>
