<div class="modal">
  <div class="modal-dialog">
    <div class="modal-header">
      <div class="modal-close">
        <img src="assets/images/btn-close.png" alt="">
      </div>
    </div>
    <div class="modal-body">
      <div class="modal-body-img">
        <img src="http://i.annihil.us/u/prod/marvel/i/mg/3/a0/50b38855e480d/portrait_incredible.jpg" alt="foro">
      </div>
      <div class="modal-body-text">
        <h2>ALL-NEW, ALL-DIFFERENT AVENGERS(2015) #1.1</h2>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim delectus repellendus nulla sunt eveniet corporis maxime reiciendis! Illum, incidunt aperiam cupiditate nulla sapiente, molestias iste, iure vitae nesciunt quisquam explicabo.</P>
      </div>
    </div>
    <div class="modal-footer">
      <a href="" class="btn-add">
        <img src="assets/images/btn-favourites-primary.png" alt="favorites">
        <span>ADDED TO FAVORITES</span>
      </a>
      <a href="" class="btn-buy">
        <img src="assets/images/shopping-cart-primary.png" alt="buy">
        <span>BUY FOR $3.99</span>
      </a>
    </div>
  </div>
</div>
