<div class="modal" [ngClass]="{'show': modal, 'hide': !modal}">
  <div class="modal-dialog">
    <div class="modal-header">
      <div class="modal-close">
        <img src="assets/images/btn-close.png" alt="">
      </div>
    </div>
    <div class="modal-body">
      <div class="modal-body-img">
        <img src="{{ image }}" alt="foro">
      </div>
      <div class="modal-body-text">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <a [routerLink]="['/comics/:id']" *ngIf="!isComic">
          View all
          <img src="assets/images/link-arrow.png" alt="link_arrow">
        </a>
      </div>
    </div>
    <div class="modal-footer" *ngIf="isComic">
      <a href="" class="btn-add">
        <img src="assets/images/btn-favourites-primary.png" alt="favorites">
        <span>ADDED TO FAVORITES</span>
      </a>
      <a href="" class="btn-buy">
        <img src="assets/images/shopping-cart-primary.png" alt="buy">
        <span>BUY FOR $3.99</span>
      </a>
    </div>
  </div>
</div>
