.header-favorites {
  width: 100%;
  padding: 5px 25px;
  text-align: center;
  box-sizing: border-box;
}

.header-favorites img {
  display: inline-block;
  vertical-align: middle;
}

.header-favorites h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.empty-favorites,
.footer-comic {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px;
}

.empty-favorites a,
.footer-comic a {
  color: #fff;
  background-color: #ec1f23;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}

.empty-favorites a:hover,
.footer-comic a:hover {
  color: #ec1f23;
  background-color: #fff;
  border: 1px solid #ec1f23;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}

.empty-favorites h3 {
  margin-top: 20px;
  text-align: center;
}

.comics {
  width: 100%;
  text-align: center;
}

.comics .header-comic {
  box-sizing: border-box;
}

.comics .header-comic .images {
  padding-left: 11%;
}

.comics .header-comic .images .principal,
.comics .header-comic .images .trash{
  cursor: pointer;
}

.comics .header-comic h4 {
  font-weight: 500;
}

.comics .header-comic .trash {
  vertical-align: top;
  position: relative;
  right: 16px;
  bottom: 14px;
}
