<div class="header-favorites">
  <img src="assets/images/btn-favourites-primary.png" alt="favorites">
  <h2>My Favorites</h2>
</div>
<div class="empty-favorites" *ngIf="!favorites || favorites.length == 0">
  <a (click)="getRandom()">Create random favorites</a>
  <br>
  <span>Without favorites</span>
</div>
<div class="comics" *ngIf="favorites && favorites.length > 0">
  <div class="header-comic" *ngFor="let item of favorites">
    <img src="assets/images/btn-delete.png" alt="trash" (click)="delete(item.id)">
    <img src="{{item.thumbnail.path}}/portrait_incredible.{{item.thumbnail.extension}}" alt="{{item.thumbnail.path}}" (click)="getOne(item.id)">
    <span>{{ item.title }}</span>
  </div>
  <div class="footer-comic">
    <a [routerLink]="['/favorites']">
      View all
      <img src="assets/images/link-arrow.png" alt="link_arrow">
    </a>
  </div>
</div>

<app-modal></app-modal>
