<div class="header-favorites">
  <img src="assets/images/btn-favourites-primary.png" alt="favorites">
  <h2>My Favourites</h2>
</div>
<div class="empty-favorites">
  <a (click)="getRandom()">Create random favorites</a>
  <br>
  <span *ngIf="!favorites || favorites.length == 0">Without favorites</span>
</div>
<div class="comics" *ngIf="favorites && favorites.length > 0">
  <div class="header-comic" *ngFor="let item of favorites.slice(0,4)">
    <div class="images">
      <img src="{{item.thumbnail.path}}/portrait_incredible.{{item.thumbnail.extension}}" alt="{{item.thumbnail.path}}" (click)="getOne(item.id)" class="principal">
      <img src="assets/images/btn-delete.png" alt="trash" (click)="delete(item.id)" class="trash">
    </div>
    <h4>{{ item.title }}</h4>
  </div>
  <div class="footer-comic">
    <a [routerLink]="['/favorites']">
      View all
    </a>
  </div>
</div>

<app-modal></app-modal>
