.container_character {
  width: 49%;
  float: left;
  margin: 30px 3px 10px 0px;
  height: 340px;
  box-sizing: border-box;
}

.content_character {
  background: #fff;
  width: 90%;
  margin-left: 10%;
  height: 340px;
  box-sizing: border-box;
}

.container_character .container_img,
.container_character .container_text {
  float: left;
}

.container_character .container_img {
  width: 200px;
}

.container_character .container_img img {
  border-radius: 50%;
  height: 210px;
  width: 210px;
  position: relative;
  top: -15px;
  left: -15px;
  background-size: cover;
  box-shadow: 5px 2px 10px rgb(204 204 204);
}

.container_character .container_text {
  width: calc(100% - 200px);
  margin: 0px;
  position: relative;
  top: -40px;
  height: 220px;
}

.container_character .container_text h2 {
  color: #463e3e;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.container_character .container_text p {
  color: #817778;
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 5px;
}

.container_character .container_text a {
  color: #fff;
  background-color: #ec1f23;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}

.container_character .container_text a:hover {
  color: #ec1f23;
  background-color: #fff;
  border: 1px solid #ec1f23;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}

.container_character .container_footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.container_character .container_footer .content_footer {
  width: 100%;
}

.container_character .container_footer h4 {
  color: #786e6d;
  margin: 10px 0px;
}

.container_character .container_footer .content_footer .comic {
  width: 48%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.container_character .container_footer .content_footer .comic a {
  cursor: pointer;
  color: #796f6e;
  font-size: 12px;
  font-weight: 100;
}

.container_character .container_footer .content_footer .comic a:hover {
  color: #ec1f23;
}

.header {
  width: 100%;
}

.header .content_h2 {
  width: 48%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.header .content_h2 img {
  margin: 20px 10px 0px 55px;
  float: left;
}

.header .content_h2 h2 {
  color: #3e3232;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
}

.header .content_select {
  display: inline-block;
  text-align: right;
  margin: 15px 25px 0px 0px;
  width: 48%;
  height: 65px;
}

.header .content_select select {
  padding: 15px 5px;
  width: 40%;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  color: #5d5352;
}

@media screen and (max-width: 1024px) {
  .container_character {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .container_character {
    width: 95%;
    display: block;
  }

  .container_character .container_text p {
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .container_character .container_img {
    width: 150px;
  }

  .container_character .container_img img {
    height: 160px;
    width: 160px;
  }

  .container_character .container_text {
    width: calc(100% - 150px);
  }

  .header .content_h2 {
    width: 100%;
    text-align: center;
  }

  .header .content_h2 img {
    margin: 0px;
    display: inline-block;
    float: none;
  }

  .header .content_h2 h2 {
    display: inline-block;
  }

  .header .content_select {
    width: 100%;
    text-align: center;
    margin: 0px auto;
  }
}
