<div class="content">
  <div class="back">
    <img src="assets/images/btn_arrow_left.png" alt="comics">
    <a [routerLink]="['/home']">Back to home</a>
  </div>
  <div class="header-comics">
    <img src="assets/images/btn-favourites-primary.png" alt="comics">
    <h2>Comics</h2>
  </div>
  <div class="comics" *ngIf="comics && comics.length > 0">
    <div class="header-comic" *ngFor="let item of comics">
      <img src="{{item.thumbnail.path}}/portrait_incredible.{{item.thumbnail.extension}}" alt="{{item.thumbnail.path}}"
        (click)="getOne(item.resourceURI)">
      <h4>{{ item.title }}</h4>
    </div>
  </div>

  <div class="back">
    <img src="assets/images/btn_arrow_left.png" alt="comics">
    <a [routerLink]="['/home']">Back to home</a>
  </div>
</div>

<app-modal (data)="add($event)"></app-modal>
