/* You can add global styles to this file, and also import other style files */
html, body{
  font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px !important;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
