.content {
  margin: 20px 10px 0px 55px;
  box-sizing: border-box;
}

.header-favorites {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.header-favorites img {
  display: inline-block;
  vertical-align: middle;
}

.header-favorites h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.comics {
  width: 100%;
}

.comics .header-comic {
  box-sizing: border-box;
  text-align: center;
  float: left;
  width: 30%;
  height: 450px;
}

.comics .header-comic .images .principal,
.comics .header-comic .images .trash{
  cursor: pointer;
}

.comics .header-comic h4 {
  font-weight: 500;
}

.comics .header-comic .trash {
  vertical-align: top;
  position: relative;
  right: 16px;
  bottom: 14px;
}

.content .back {
  width: 100%;
  display: flex;
  padding: 20px 0px;
}

.content .back a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.content .back a:hover {
  color: #ec1f23;
}


@media screen and (max-width: 768px) {
  .comics .header-comic {
    width: 50%;
}
}

@media screen and (max-width: 425px) {
  .comics .header-comic {
    width: 100%;
  }

  .content {
    margin: 0px;
    box-sizing: border-box;
  }
}
